@(contacts: Seq[Contact])(implicit request: RequestHeader)

@main("Welcome to Play 2.1") {
<script>
  $.fn.serializeObject = function() {
      var o = {};
      var a = this.serializeArray();
      $.each(a, function() {
          if (o[this.name] !== undefined) {
              if (!o[this.name].push) {
                  o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
          } else {
              o[this.name] = this.value || '';
          }
      });
      return o;
  };

  $(function() {
    ws = new WebSocket("@routes.Application.websocket.webSocketURL()")
    ws.onmessage = function(msg) {
      message = JSON.parse(msg.data);
      if ("delete" in message) {
        // We'll send {"delete": "some id"} if we're triggering a delete.
        $("tr#kt-contact-" + message["delete"]).remove();
      } else if ("error" in message) {
        alert("ERROR: " + message["error"]);
      } else {
        // Otherwise we're logging. So add a row!
        $("#contacts tbody").prepend("<tr class='kt-contact-" + message["id"] + "'> \
          <td class='id'>" + message["id"] + "</td> \
          <td class='station_id'>" + message["stationID"] + "</td> \
          <td class='timestamp'>" + message["formattedTime"] + "</td> \
          <td class='callsign'>" + message["callsign"] + "</td> \
          <td class='band'>" + message["band"] + "</td> \
          <td class='mode'>" + message["mode"] + "</td> \
          <td class='exchange'>" + message["exchange"] + "</td> \
          <td class='delete'><button onclick='ajaxDeleteID(message[\"id\"])' class='btn btn-danger btn-small'>Delete</button></td>");
      }
    }

    var sendMessage = function() {
      ws.send(JSON.stringify($("#kt-logbar-form").serializeObject()));
      $("input[name=callsign]").val('');
      $("input[name=exchange]").val('');
      $("#contacts tr").show();
      $("input[name=callsign]").focus();
    }

    var handleReturnKey = function(e) {
      if(e.charCode == 13 || e.keyCode == 13) {
        e.preventDefault()
        sendMessage()
      }
    }

    $("#kt-logbar-form").keypress(handleReturnKey)
  });
</script>

<div class="kt-logbar">
  <div class="container">
    <form id="kt-logbar-form" class="form-inline">
      <input type="text" name="station_id" placeholder="Station #">
      <input type="text" name="callsign" placeholder="Callsign">
      <input type="text" name="exchange" placeholder="Exchange">
      <select name="band">
        <option value="160m">160m </option>
        <option value="80m">80m</option>
        <option value="60m">60m</option>
        <option value="40m">40m</option>
        <option value="30m">30m</option>
        <option value="20m">20m</option>
        <option value="17m">17m</option>
        <option value="15m">15m</option>
        <option value="12m">12m</option>
        <option value="10m">10m</option>
        <option value="6m">6m</option>
        <option value="2m">2m</option>
        <option value="70cm">70cm</option>
        <option value="33cm">33cm</option>
        <option value="23cm">23cm</option>
        <option value="13cm">13cm</option>
        <option value="9m">9m</option>
        <option value="5cm">5cm</option>
        <option value="3cm">3cm</option>
        <option value="1.2cm">1.2cm</option>
        <option value="6mm">6mm</option>
        <option value="4mm">4mm</option>
        <option value="2.5mm">2.5mm</option>
        <option value="2mm">2mm</option>
        <option value="1mm">1mm</option>
      </select>
      <select name="mode">
        <option value="phone">Phone</option>
        <option value="cw">CW</option>
        <option value="digital">Digital</option>
      </select>
      <button type="submit" class="btn btn-primary">Log!</button>
    </form>
  </div>
</div>

<div class="container">
  <table id="contacts" class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Station #</th>
        <th>Contacted At</th>
        <th>Callsign</th>
        <th>Band</th>
        <th>Mode</th>
        <th>Exchange</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      @contacts.map { contact =>
      <tr id="kt-contact-@contact.id.getOrElse("--")">
        <td class="id">@contact.id.getOrElse("--")</td>
        <td class="station_id">@contact.stationID</td>
        <td class="timestamp">@contact.formattedTime.getOrElse("")</td>
        <td class="callsign">@contact.callsign</td>
        <td class="band">@contact.band</td>
        <td class="mode">@contact.mode</td>
        <td class="exchange">@contact.exchange</td>
        <td class="delete"><button onclick='ajaxDeleteID(@contact.id.getOrElse("--"))' class='btn btn-danger btn-small'>Delete</button></td>
      </tr>
      }
    </tbody>
  </table>
</div>
}
